*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }

  nav{
      display:flex;
      padding:2% 6%;
      justify-content: space-between;
      align-items: center;
  }

  h5{
      width: 150px;
  }

  .nav-links{
      flex: 1;
      text-align: right; 
  }

  .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
  }

  .nav-links ul li a{
      color: orange;
      text-decoration: none;
      font-size: 11px;
  }

  .nav-links ul li ::after{
      content: '';
      width: 100%;
      height: 2px;
      background: black;
      display: block;
      margin:auto;
    
  }

 
  .colored-text{
    color: orange;
  }
  
   #home{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }
  
  .half-width{
    width: 40%;
  }
  
  .half-width img{
    width: 500px;;
    height: 600px;
    padding-left: 10px;
    
  }
  
  .half-width .less-width{
    width: 60%;
  }
  
  
  .half-width h1{
    padding-left: 50px;
    margin-top: 50px;
  }
  
  .half-width p{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  
  .button{
    margin-left: 50px;
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(245, 138, 16),rgba(218, 81, 27, 0.664));
    border-radius: 20px;
    color: whitesmoke;
    box-shadow: 2px 2px 5px rgb(98, 96, 98);
  }
  
  .button:hover{
    background-image: linear-gradient(rgb(146, 141, 146),rgb(221, 226, 226));
    color: black;
    box-shadow: 5px 5px 30px rgb(162, 168, 162);
  }
  
  #about{
    display: flex;
    justify-content: space-evenly;
    background: url(/images/7.png) center top;
    margin-bottom: 100px;
  }
  
  .recipe-info{
   width: 50%;
   margin: 25px auto;
   text-align: center;
   color:rgba(10, 10, 10, 0.274)
   
  }
  
  #recipes .container{
    display: flex;
    justify-content: space-evenly;
  }
  
  #recipes .container .box{
    width: 25%;
    box-shadow: 7px 7px 40px rgb(37, 36, 36);
    border-radius: 20px;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }
  
  #recipes .container .box .img img{
    width: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
  }
  
  #recipes .container .box h1 , 
  #recipes .container .box p{
    padding-left: 30px;
  }
  

  
  #social .container{
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    box-shadow: 10px 10px 40px rgb(70, 67, 67);
    border-radius: 15px;
  }
  
  
  #social .box{
    width: 25%;
    padding: 50px;
  }
  
  footer h2{
    text-align: center;
    padding: 10px;
    color: gray;
  }
  
  footer p{
    text-align: center;
    padding: 15px;
    color: rgb(14, 13, 13);
    font-size: 12px;
    
  }
  
  footer{
    background: rgb(250, 247, 247);
  }
  

  /* .........*/

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  